html, body, .grid-container { height: 100%; margin: 0; }
.grid-container {
    display: grid;
    grid-template-columns: 0.9fr .3fr 1.8fr 1.3fr;
    grid-template-rows: 0.4fr 1.9fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
      "home-page home-page Successes farewell-page"
      "about about about about"
      "about about about about";
      text-align: center;font-size: 30px;background: linear-gradient(to left, #ccffae, #5aff4b);
  }
  
  .farewell-page { grid-area: farewell-page;padding-top: 20px; }
  
  .Successes { grid-area: Successes; padding-top: 20px;}
  
  .about {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr 1fr;
    grid-template-rows: 0.6fr 1.5fr;
    gap: 716px 0px;
    grid-template-areas:
      "about-text photo photo"
      "about-text photo photo";
    grid-area: about;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
  .about-text { grid-area: about-text;margin-left: 15%;margin-right: 15%; }
  
  .photo { grid-area: photo; }
  
  .home-page { grid-area: home-page; }
  
  .home-page { grid-area: home-page; padding-top: 20px;}
