html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.9fr 0.3fr 1.8fr 1.3fr;
  grid-template-rows: 0.4fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
  "about about Successes home-page"
  "image image image farewell-text"
  "image image image farewell-text";
  text-align:center;
      background: linear-gradient(to left, #eda5ff, #9f26aa);font-size: 30px;
}

.about { grid-area: about; padding-top:20px;}

.home-page { grid-area: home-page;padding-top:20px; }

.Successes { grid-area: Successes; padding-top:20px;}

.farewell-text {
    display: grid;
    grid-template-columns: 2000fr 1fr 1fr;
    grid-template-rows: 1.2fr 1.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "body body body";
    grid-area: farewell-text;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 15%;
  }

.header { grid-area: header; }

.body { grid-area: body; }

.image { grid-area: image; margin-top: 10%; margin-right: 5%;}


  